@(message: String)

@main(message) {

	<button id="stop-stream" href="#" disabled="disabled">Stop streaming</button>

   	<h3 id="status"></h3>

    <div id="debug"></div>
    
	<canvas id="plan2d" width="800" height="500"></canvas>
	 
	<script type="text/javascript" charset="utf-8">
        "strict"

        jQuery(document).ready(function ($) {

            $('#plan2d').width(window.innerWidth - 30)
                        .height(window.innerHeight - 150);

            var canvas = document.getElementById('plan2d'),
                canvasContext = canvas.getContext('2d'),
                canvasCenterX = canvas.width / 2,
                canvasCenterY = canvas.height / 2;

            // paint it black
            canvasContext.fillStyle = '#990000';
            canvasContext.fillRect (0, 0, canvas.width, canvas.height);
            canvasContext.fillStyle = '#000000';

            var PI2 = Math.PI * 2;

            canvasContext.beginPath();
            x = canvasCenterX;
            y = canvasCenterY;
            canvasContext.arc(x, y, 1, 0, PI2, true);
            canvasContext.fill();
            //canvasContext.stroke();


            var feed,
                eventsLength = 0,
                data, x, y,
                statusElem = document.getElementById('status'),
                debugElem = document.getElementById('debug');

            if (!!window.EventSource) {
                feed = new EventSource('/stream');

                // connection was opened
                feed.addEventListener('open', function (e) {
                    statusElem.innerHTML = "Connection open";
                    $("#stop-stream").removeAttr("disabled");
                }, false);

                // receive message
                feed.addEventListener('message', function(e) {
                    statusElem.innerHTML = "stream received";
                    //data = JSON.parse(e.data);
                    eventsLength += 1;

                    var qq = e.data.replace('\'', '');
                    var qqs = qq.replace('\'', '');
                    
                    var res = qqs.split(";");
                    
                    canvasContext.beginPath();
                    x = canvasCenterX + (+res[0]);
                    y = canvasCenterY + (+res[1]);
                    canvasContext.arc(x, y, 5, 0, Math.PI * 2, true);
                    canvasContext.fill();

                    debugElem.innerHTML = "e.data: " + e.data + qqs + " " + res;

                }, false);

                // error handling
                feed.addEventListener('error', function (e) {
                    if (e.eventPhase == EventSource.CLOSED) {
                        statusElem.innerHTML = "Connection closed";
                        $("#stop-stream").attr("disabled", "disabled");
                        feed.close();
                    } else {
                        statusElem.innerHTML = "Unknown error" + e;
                        $("#stop-stream").attr("disabled", "disabled");
                    }
                }, false);

            } else {
                statusElem.innerHTML = "Serverside Send Event not supported by this browser";
            }

            $("#stop-stream").click(function(e) {
                e.preventDefault();
                feed.close();
                statusElem.innerHTML = "Streaming stopped";
                $(this).attr("disabled", "disabled");
            }).attr("disabled", "disabled");
        });

    </script>	 
}
